* {
  padding: 0;
  margin: 0;
}
#nav {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: linear-gradient(
    64.5deg,
    rgba(245, 116, 185, 1) 14.7%,
    rgba(89, 97, 223, 1) 88.7%
  );
  box-shadow: 0px 0px 15px 4px rgba(245, 116, 185, 1);
}
a {
  text-decoration: none;
  color: white;
}
#nav > * {
  margin-right: 100px;
  color: white;
}

form {
  margin-left: 20px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 60%;
}
form > * {
  margin-bottom: 10px;
}
